@import "tailwindcss";


@theme {
  --font-acme: "Acme", system-ui;
  --font-comfortaa: "Comfortaa", system-ui;

  --color-text: #1E293B;
  --color-background: #F2F4F7;
  --color-border: #E5E9F0;
}

@layer base {
  html {
    color: var(--color-text);
    background-color: var(--color-background);
    font-family: var(--font-comfortaa);
  }

  hr {
    border: 1px solid var(--color-border);
  }

  .loader {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid;
    border-color: #3A3A3A #2B2B2B10;
    animation: l1 1s infinite;
  }
  
  @keyframes l1 {to{transform: rotate(.5turn)}}
}

