@import "tailwindcss";


@theme {
  --font-acme: "Acme", system-ui;
  --font-comfortaa: "Comfortaa", system-ui;

  --color-text: #1E293B;
  --color-background: #F2F4F7;
  --color-border: #E5E9F0;
}

@layer base {
  html {
    color: var(--color-text);
    background-color: var(--color-background);
    font-family: var(--font-comfortaa);
  }

  hr {
    border: 1px solid var(--color-border);
  }
}

